mixin var(root)
    - rootpath = root || ''

mixin head(title, desc, css)
    doctype html
    html(dev="ja")
        head
            +analytics
            meta(charset="UTF-8")
            meta(name="author", content="bubble0601")
            if title
                title= title + " | bubbleメモ"
            else
                title bubbleメモ
            if desc
                meta(name="description", content=desc)
            meta(name="format-detection", content="telephone=no,address=no,email=no")
            meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
            meta(http-equiv="content-devuage", content="ja")
            link(rel="stylesheet", href=rootpath + 'css/bundle.css')
            if css
                each c in css
                    link(rel="stylesheet", href=rootpath + 'css/' + c + '.css')

mixin header(current)
    +navbar(current)

mixin navbar(current)
    header.navbar.navbar-light.justify-content-start
        span.navbar-brand.mb-0.ml-2.d-none.d-md-inline bubbleメモ
        ul.navbar-nav.flex-row
            li.nav-item.h5.mx-3(class={active: current === 'top'})
                - var path = rootpath + 'index.html'
                a.nav-link(href=path) トップ
            li.nav-item.h5.mx-3(class={active: current === 'dev'})
                - var path = rootpath + 'dev.html'
                a.nav-link(href=path) 開発
            li.nav-item.h5.mx-3(class={active: current === 'learning'})
                - var path = rootpath + 'learning.html'
                a.nav-link(href=path) 学習

mixin bread(bread)
    nav.rounded.w-75.my-2.mx-auto(aria-label="breadcrumb" role="navigation")
        ol.breadcrumb
            each item in bread
                li.breadcrumb-item(class={active: item.current})
                    if item.filename
                        - var path = rootpath + item.filename
                        a(href=path)= item.title
                    else
                        span= item.title

mixin sidebar
    div.sidebar.py-md-2
        div.p-3
            //- spanではなくdivを使うならflexboxがよさげ
            img.my-1(src="https://avatars1.githubusercontent.com/u/19218424?s=460&v=4" width="80")
            span.align-top.d-inline-block.h5.ml-3.mt-4 bubble0601
            a#github.btn.btn-secondary.btn-sm.d-block.text-white.w-50.my-1(href="https://github.com/bubble0601" target="_blank")
                img.d-inline.mr-1(data=rootpath + "img/github.svg", width=20, height=20)
                | @bubble0601
            a#twitter.btn.btn-primary.btn-sm.d-block.text-white.w-50.my-1(href="#")
                img.d-inline.mr-1(data=rootpath + "img/twitter.svg", width=20, height=20)
                | @bubble_0_
            h4.mt-2 Links
            ul.list-unstyled
                li: a(href="https://github.com/bubble0601/bubble0601.github.io" target="_blank") このサイトのレポジトリ

mixin main(side)
    div.container-fluid.row.mx-0
        if side[0] > 0
            div.col-12(class="col-md-" + side[0])
                +sidebar_left
        main.col-12.py-3.pl-md-5(class="col-md-" + side[1] role="main")
            if block
                block
        if side[2] > 0
            div.col-12(class="col-md-" + side[2])
                +sidebar

mixin title(title, date, tags)
    h2= title
    p.d-inline-block.mb-3
        span.text-muted.mr-2= date
        each tag in tags
            span.badge.badge-secondary= tag

mixin footer(bread, js)
    +bread(bread, current)
    p: a.text-muted.text-small.float-right.mr-4(href=rootpath + 'about.html') 当サイトについて
    p: a.text-muted.text-small.float-right.mr-2(href=rootpath + 'index.html') トップ
    if js
        each j in js
            if j.slice(0, 4) === "http"
                script(src=j)
            else
                script(src=rootpath + "js/" + j + ".js")
            //- bundle.js is contained automatically

mixin analytics
    // Global site tag (gtag.js) - Google Analytics
    .
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80539440-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-80539440-2');
        </script>

mixin code(lang, langname)
    - langname = langname ? langname : lang[0].toUpperCase() + lang.slice(1)
    pre(data-language=langname): code(class="language-" + lang)
        block

mixin gist(url)
    div.my-2
    script(src=url)
