mixin var(root)
    - rootpath = root || ''

mixin head(title, desc)
    doctype html
    html(lang="ja")
        head
            +analytics
            meta(charset="UTF-8")
            meta(name="author", content="bubble0601")
            if title
                title= title
            else
                title Bubble0601.GitHub.io
            if desc
                meta(name="description", content=desc)
            meta(name="format-detection", content="telephone=no,address=no,email=no")
            meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
            meta(http-equiv="content-language", content="ja")
            - var csspath = rootpath + 'css/bundle.css'
            link(rel="stylesheet", href=csspath)

mixin header(current)
    +navbar(current)

mixin navbar(current)
    header.navbar.navbar-light.justify-content-start
        span.navbar-brand.mb-0.ml-2.d-none.d-md-inline Bubble0601.GitHub.io
        ul.navbar-nav.flex-row
            li.nav-item.h5.mx-3(class={active: current === 'top'})
                - var path = rootpath + 'index.html'
                a.nav-link(href=path) Top
            li.nav-item.h5.mx-3(class={active: current === 'univ'})
                - var path = rootpath + 'univ.html'
                a.nav-link(href=path) Univ

mixin bread(bread, current)
    nav.rounded.w-75.my-2.mx-auto(aria-label="breadcrumb" role="navigation")
        ol.breadcrumb
            each item in bread
                li.breadcrumb-item(class={active: item.current})
                    - var path = rootpath + item.filename
                    a(href=path)= item.title

mixin sidebar
    div.sidebar.py-md-2
        div.p-3
            //- spanではなくdivを使うならflexboxがよさげ
            img.my-1(src="https://avatars1.githubusercontent.com/u/19218424?s=460&v=4" width="80")
            span.align-top.d-inline-block.h5.ml-3.mt-4 bubble0601
            .my-1.
                <a class="github-button" href="https://github.com/bubble0601" data-size="large" aria-label="Follow @bubble0601 on GitHub">Follow @bubble0601</a>
            .my-1.
                <a href="https://twitter.com/bubble_0_?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-lang="ja" data-show-count="false">Follow @bubble_0_</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

mixin main
    div.container-fluid.row.mx-0
        main.col-12.col-md-9.py-3.pl-md-5(role="main")
            if block
                block
        div.col-12.col-md-3
            +sidebar

mixin article
    article.col-lg-10.mx-auto
        if block
            block

mixin title(title, date, tags)
    h2= title
    p.d-inline-block.mb-3
        span.text-muted.mr-2= date
        each tag in tags
            span.badge.badge-secondary= tag

mixin article-card(url, title, img)
    div.col-12.col-md-6.col-lg-4.col-xl-3.px-2
        div.card.article-card
            if img
                a(href=url + '.html')
                    //- srcにするとwebpackが勝手に読み込もうとするので後でjsでいじる
                    img.card-img-top(data='img/' + img height="140")
            div.card-body
                h4.card-title: a(href=url + '.html')= title

mixin footer(bread)
    +bread(bread, current)
    script#github-bjs(async defer src="https://buttons.github.io/buttons.js")
    //- bundle.js is contained automatically

mixin analytics
    // Global site tag (gtag.js) - Google Analytics
    .
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80539440-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-80539440-2');
        </script>

mixin gist(url)
    p.my-2
    script(src=url)
