mixin var(root)
    - rootpath = root || ''

mixin head(title, desc, css)
    doctype html
    html(lang="ja")
        head
            +analytics
            meta(charset="UTF-8")
            meta(name="author", content="bubble0601")
            if title
                title= title
            else
                title Bubble0601.GitHub.io
            if desc
                meta(name="description", content=desc)
            meta(name="format-detection", content="telephone=no,address=no,email=no")
            meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
            meta(http-equiv="content-language", content="ja")
            link(rel="stylesheet", href=rootpath + 'css/bundle.css')
            if css
                each c in css
                    link(rel="stylesheet", href=rootpath + 'css/' + c + '.css')

mixin header(current)
    +navbar(current)

mixin navbar(current)
    header.navbar.navbar-light.justify-content-start
        span.navbar-brand.mb-0.ml-2.d-none.d-md-inline Bubble0601.GitHub.io
        ul.navbar-nav.flex-row
            li.nav-item.h5.mx-3(class={active: current === 'top'})
                - var path = rootpath + 'index.html'
                a.nav-link(href=path) Top
            li.nav-item.h5.mx-3(class={active: current === 'lang'})
                - var path = rootpath + 'lang.html'
                a.nav-link(href=path) Lang
            li.nav-item.h5.mx-3(class={active: current === 'univ'})
                - var path = rootpath + 'univ.html'
                a.nav-link(href=path) Univ

mixin bread(bread)
    nav.rounded.w-75.my-2.mx-auto(aria-label="breadcrumb" role="navigation")
        ol.breadcrumb
            each item in bread
                li.breadcrumb-item(class={active: item.current})
                    if item.filename
                        - var path = rootpath + item.filename
                        a(href=path)= item.title
                    else
                        span= item.title

mixin sidebar
    div.sidebar.py-md-2
        div.p-3
            //- spanではなくdivを使うならflexboxがよさげ
            img.my-1(src="https://avatars1.githubusercontent.com/u/19218424?s=460&v=4" width="80")
            span.align-top.d-inline-block.h5.ml-3.mt-4 bubble0601
            a#github.btn.btn-secondary.btn-sm.d-block.text-white.w-50.my-1(target="_blank" href="https://github.com/bubble0601") GitHub @bubble0601
            a#twitter.btn.btn-primary.btn-sm.d-block.text-white.w-50.my-1(href="#") Twitter @bubble_0_

mixin main(side)
    div.container-fluid.row.mx-0
        if side[0] > 0
            div.col-12(class="col-md-" + side[0])
                +sidebar_left
        main.col-12.py-3.pl-md-5(class="col-md-" + side[1] role="main")
            if block
                block
        if side[2] > 0
            div.col-12(class="col-md-" + side[2])
                +sidebar

mixin title(title, date, tags)
    h2= title
    p.d-inline-block.mb-3
        span.text-muted.mr-2= date
        each tag in tags
            span.badge.badge-secondary= tag

mixin footer(bread)
    +bread(bread, current)
    //- bundle.js is contained automatically

mixin analytics
    // Global site tag (gtag.js) - Google Analytics
    .
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80539440-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-80539440-2');
        </script>

mixin code(lg)
    if lg === 'html'
        pre: code.language-markup(data-language="html")
            block
    else
        pre: code(class="language-" + lg)
            block

mixin gist(url)
    div.my-2
    script(src=url)
